
div {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.Header {
  text-align: center;
  margin: 20px 0;
}

.Status {
  text-align: center;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}

.Leaked {
  justify-content: flex-start;
}

