* {
  text-align: center;
  font-family: sans-serif;
}

.EOGLogo {
  
}

div {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

